<!DOCTYPE html>
<html lang="en">
{{- partial "head/head.html" . -}}

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    {{ partial "nav.html" . }}
    <main>
        <!-- Render any additional page content below the page's content blocks -->
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    <script src="{{ "/plugins/jquery.min.js" | strings.TrimPrefix "/" | relURL }}"></script>

    <script src="{{ "/plugins/bootstrap/bootstrap.min.js" | strings.TrimPrefix "/" | relURL }}"></script>
    <!-- slick slider -->
    <script src="{{ "/plugins/slick/slick.min.js" | strings.TrimPrefix "/" | relURL }}"></script>
    <!-- filter -->
    <script src="{{ "/plugins/filterizr/jquery.filterizr.min.js" | strings.TrimPrefix "/" | relURL }}"></script>
    <!-- Lightbox -->
    <script src="{{ "/plugins/magnific-popup/jquery.magnific-popup.min.js" | strings.TrimPrefix "/" | relURL }}"></script>
    <!-- Parallax -->
    <script src="{{ "/plugins/parallax.min.js" | strings.TrimPrefix "/" | relURL }}"></script>
    <!-- Video -->
    <script src="{{ "/plugins/jquery.vide.js" | strings.TrimPrefix "/" | relURL }}"></script>
    <script src="{{ "/js/script.js" | strings.TrimPrefix "/" | relURL }}" defer></script>
</body>

</html>